<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="warn">WORLDWIDE</button>
  </div>
  <div class="container"></div>

</section>


<div></div>
&nbsp;&nbsp;
&nbsp;&nbsp;<mat-form-field>
<mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
</mat-form-field>
<div  class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  matSort matSortActive="cases" matSortDirection='desc' class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef  > Country</th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cases">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cases </th>
      <td mat-cell *matCellDef="let element" > {{element.cases}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="todayCases">
      <th mat-header-cell *matHeaderCellDef>TodayCase</th>
      <td mat-cell *matCellDef="let element" class="glyphicon glyphicon-upload"> {{element.todayCases}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="deaths">
      <th mat-header-cell *matHeaderCellDef>Deaths</th>
      <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
    </ng-container>
  
       <!-- Position Column -->
       <ng-container matColumnDef="todayDeaths">
        <th mat-header-cell *matHeaderCellDef> TodayDeaths</th>
        <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="recovered">
        <th mat-header-cell *matHeaderCellDef> Recovered </th>
        <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.active }} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="critical">
        <th mat-header-cell *matHeaderCellDef> Critical</th>
        <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
      </ng-container>
     
    
     
    
      <!-- Weight Column -->
      <ng-container matColumnDef="tests">
        <th mat-header-cell *matHeaderCellDef> Testes </th>
        <td mat-cell *matCellDef="let element"> {{element.tests }} </td>
      </ng-container>
    
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div>



 
  
  

