<div class="Home container">
    <div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12">
        <div class="header fadeInUp" style="animation-delay: 0.5s;">
            <div class="header-mid row">
                <div class="titles col-md-7">
                    <h1>World COVID-19 Tracker</h1>
                    <h6 style="color: #298ae1;"> Made By Suman Ghorai </h6>
                </div>
               
            </div>
        </div>
        <div class="Level fadeInUp row" style="animation-delay: 0.8s; ">

            <div class="level-item is-cherry col-xs-3">
                <h5>Confirmed</h5>
                <h4>[+{{todayCases}}]</h4>
                <h1>{{currentcase}} </h1>
            </div>
          
            <div class="level-item is-gray col-xs-3">
                <h5 class="heading ">Death</h5>
                <h4>[+{{todaydeads}}]</h4>
                <h1 class="title has-text-grey ">{{totaldeath}}</h1>
            </div>
        </div>
<table class="table table-striped table-hover  fadeInUp col-md-12" style="animation-delay: 1s; ">
            <thead>
                <tr>
                    <th  class="sticky state-heading ">
                        <div class="heading-content "><abbr title="State ">country</abbr>
                            
                        </div>
                    </th>
                    <th (click)="sortByMaxCases(sortedDataBasedOnDate) " class="sticky ">
                        <div class="heading-content "><abbr class="confirmed " title="Confirmed ">cases</abbr>
                            <div class="" [ngClass]=" { 'downarrow':showArrows.downarrowConfirmed , 'up-arrow' : showArrows.uparrowowConfirmed} "></div>
                        </div>
                    </th>
                  
                    <th  class="sticky ">
                        <div class="heading-content "><abbr class=" recovered" title="Recovered ">recovered</abbr>
                           

                        </div>
                    </th>
                    <th  class="sticky ">
                        <div class="heading-content "><abbr class="death" title="Deaths ">deaths</abbr>
                           
                        </div>
                    </th>
                    <th  class="sticky ">
                        
                            <div class="heading-content "><abbr class="active-cases " title="Active ">Population</abbr> 
                        </div>
                    </th>
                    <th  class="sticky ">
                        
                        <div class="heading-content "><abbr class="active-cases " title="Active ">Test</abbr> 
                    </div>
                </th>
                </tr>
            </thead>


            <tbody *ngFor="let data of CountryWiseCase;let i=index ">
                
                 <tr class="state ">
                    <td  style="font-weight: 600; ">{{data.country}}</td>
                     <td style="color: inherit ">{{data.cases}}</td>
                    <td style="color: inherit ">{{data.recovered}}</td>
                    <td style="color: inherit ">{{data.deaths}}</td>
                    <td style="color: inherit ">{{data.population}}</td>
                    <td style="color: inherit ">{{data.tests}}</td>
                </tr>
                  

                
                

            </tbody>

        </table>
    </div>



    
</div>