
<div class="heading">


    <div class="container">
        <div class="Navbar" style="animation-delay: 0.5s; transition: all 0.3s ease-in-out 0s;">
            <img class="fadeInUp img-circle logo" alt="COVID-19 Tracker" src="assets/heading4.png" style="animation-delay: 0s; transition: all 0.3s ease-in-out 0s;">
            <div class="navbar-left">
                <a routerLink="/home" routerLinkActive="active">
                    <span class="fadeInUp" style="animation-delay: 0.2s;">Home</span>
                </a>
                <a routerLink="/helpful" routerLinkActive="active">
                    <span class="fadeInUp " style="animation-delay: 0.5s;">worldwide</span>
                </a>
                


            </div>
           
        </div>
    </div>

 
</div>

<router-outlet></router-outlet>


